<body id="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fa fa-github" aria-hidden="true" fa-5x></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink='/master' routerLinkActive='active'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/repo' routerLinkActive='active'>Repo</a>
            </li>
          </ul>
      
        </div>
      
      </nav>
 <br>
  <h1 style="color:white" align="center">GitHub Profile</h1>
  <div class="container">
    <div id="swara">
      <form class="form">
        <input type="text" class="form-control" placeholder="Search Username" [(ngModel)]="userName" name="userName" (keyup)="findUser()">

      </form>
    </div>
    <br>
    <br>
  
    <div class="card" *ngIf="user1">
      <div class="card-header">
        <h2>  {{user1.name}} </h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{user1.avatar_url}}">
          </div>
          <div class="col-md-8">
            <div class="first">
              <span class="badge badge-info">{{user1.public_repos}} Public Repos</span>
              <span class="badge badge-info">{{user1.followers}} Followers</span>
              <span class="badge badge-info">{{user1.following}} Following</span>
            </div>
            <br>
            <ul class="list-group">
              <li class="list-group-item" appHighlight><strong>user name:</strong> {{user1.login}}</li>
              <li class="list-group-item" *ngIf="location"><strong>Location: </strong>{{user1.location}}</li>
              <li class="list-group-item" *ngIf="email"><strong>Email:</strong>{{user1.email}}</li>
              <li class="list-group-item"><strong>URL:  </strong> <a href="{{user1.html_url}}" target="_blank"><button class="btn-outline-info">View on Github</button></a></li>
              <li class="list-group-item" appHighlight><strong>Member Since: </strong>{{user1.created_at| date:short:timezone}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
    <footer class="page-footer font-small blue">

        
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mdbootstrap.com/education/angular/"> Joselyne</a>
        </div>
       
      
      </footer>
  </div>
</body>